{% load static %}
<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Clove</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="http://lib.sinaapp.com/js/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'djfauth/style.css' %}">
  </head>
<nav>
  <h1><a href="{% url 'home' %}"><img id="logo" src="{% static 'djfauth/img/clove_80px_meitu.jpg' %}" class="img-circle">Clove</a></h1>
  <ul>
    {% if users %}
      <li><span>{{ users.username }}</span>
      <li><a href="{% url 'djfauth:logout' %}">Log Out</a>
    {% else %}
      <li><a href="{% url 'djfauth:register' %}">Register</a>
      <li><a href="{% url 'djfauth:login' %}">Log In</a>
    {% endif %}
  </ul>
</nav>
<hr>
<ul id="nav"> 
  <li><a href="{% url 'finance:index' %}">Blog</a></li> 
  <li><a href="{% url 'finance:index' %}">Polls</a></li> 
  <li><a href="">Others</a></li> 
  <li><a href="">Help</a></li> 
  <li><a href="">About</a></li> 
</ul>
<hr>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% if messages %}
    {% for message in messages %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</section>
  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script>
  <!-- 包括所有已编译的插件 -->
  <script src="http://lib.sinaapp.com/js/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>